In [1]:
import os
import pandas as pd
from statsmodels.formula.api import ols
from scipy.stats import pearsonr

In [2]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\양창규 박사님\분석결과')
df_1 = pd.read_csv('describe용.csv')
df_1

,선수명,연봉,VRS_수비x,VRS_수비o,포지션,VRS_수비x.1,VRS_수비o.1,수비o-수비x,산출부족분_수비x,산출부족분_수비o,팀명
0,강로한롯데,2900,0.6416,0.6913,2,0.0345,0.0345,0.0000,81184.50,81184.50,롯데
1,강민호삼성,125000,0.9518,0.9518,포,0.9264,0.9264,0.0000,9936.00,9936.00,삼성
2,강백호KT,12000,0.4346,0.5969,우,0.0628,0.0628,0.0000,179210.00,179115.00,KT
3,고종욱SK,11000,0.6117,0.7109,좌,0.1071,0.1071,0.0000,91661.00,91661.00,SK
4,구자욱삼성,30000,0.5520,0.6940,우,0.1453,0.1453,0.0000,176450.00,176450.00,삼성
...,...,...,...,...,...,...,...,...,...,...,...
104,한동희롯데,4900,0.9174,1.0000,3,0.3501,1.0000,0.6499,9100.07,0.00,롯데
105,한승택KIA,6000,0.7272,0.7272,포,0.0978,0.0978,0.0000,55360.07,55360.07,KIA
106,허경민두산,38500,0.6882,0.6882,3,0.3377,0.3377,0.0000,75500.00,75500.00,두산
107,허일롯데,3000,0.9088,1.0000,중,0.1085,1.0000,0.8915,24644.50,0.00,롯데
108,황재균KT,120000,0.7081,0.7081,3,0.6107,0.6107,0.0000,76485.00,76485.00,KT

In [6]:
df_2 = df_1[['선수명', 'VRS_수비x.1', '팀명', '포지션', '수비o-수비x']]
df_2

        선수명  VRS_수비x.1   팀명 포지션  수비o-수비x
0     강로한롯데     0.0345   롯데   2   0.0000
1     강민호삼성     0.9264   삼성   포   0.0000
2     강백호KT     0.0628   KT   우   0.0000
3     고종욱SK     0.1071   SK   좌   0.0000
4     구자욱삼성     0.1453   삼성   우   0.0000
..      ...        ...  ...  ..      ...
104   한동희롯데     0.3501   롯데   3   0.6499
105  한승택KIA     0.0978  KIA   포   0.0000
106   허경민두산     0.3377   두산   3   0.0000
107    허일롯데     0.1085   롯데   중   0.8915
108   황재균KT     0.6107   KT   3   0.0000

[109 rows x 5 columns]

In [55]:
df_3 = df_2[df_2['팀명'] == '롯데']
df_3

       선수명  VRS_수비x.1  팀명 포지션  수비o-수비x
0    강로한롯데     0.0345  롯데   2   0.0000
26   나종덕롯데     1.0000  롯데   포   0.0000
35   민병헌롯데     0.9273  롯데   중   0.0000
50   손아섭롯데     0.8242  롯데   우   0.0000
53   신본기롯데     0.3527  롯데   유   0.0000
55   안중열롯데     1.0000  롯데   포   0.0000
59   오윤석롯데     1.0000  롯데   1   0.0000
68   이대호롯데     1.0000  롯데   1   0.0000
85   전준우롯데     0.2106  롯데   좌   0.0000
91    정훈롯데     0.1372  롯데   1   0.0462
95   채태인롯데     0.3574  롯데   1   0.6426
104  한동희롯데     0.3501  롯데   3   0.6499
107   허일롯데     0.1085  롯데   중   0.8915

In [56]:
df_3.describe()

       VRS_수비x.1    수비o-수비x
count  13.000000  13.000000
mean    0.561731   0.171554
std     0.396652   0.322699
min     0.034500   0.000000
25%     0.210600   0.000000
50%     0.357400   0.000000
75%     1.000000   0.046200
max     1.000000   0.891500

In [2]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\양창규 박사님')
df_2 = pd.read_csv('correlation.csv')
df_2

  (팀순위)팀명  C. 타격+WAR        D-C     승률
0     2SK    0.470550  0.000000  0.615
1     4LG    0.388570  0.000010  0.552
2     1두산    0.525920  0.000150  0.615
3     3키움    0.284627  0.003645  0.601
4     5NC    0.424907  0.004793  0.514
5     9한화    0.345811  0.029811  0.403
6     6KT    0.295309  0.032473  0.500
7     8삼성    0.251880  0.052270  0.420
8    7KIA    0.401455  0.084427  0.437
9    십위롯데    0.561731  0.171554  0.340

In [3]:
df_2.corr()

            C. 타격+WAR        D-C        승률
C. 타격+WAR     1.000000  0.327461  0.020070
D-C           0.327461  1.000000 -0.821741
승률            0.020070 -0.821741  1.000000

In [4]:
df_2.columns = ['Team', 'hit', 'def', 'WinR']
df_2

   Team       hit       def   WinR
0   2SK  0.470550  0.000000  0.615
1   4LG  0.388570  0.000010  0.552
2   1두산  0.525920  0.000150  0.615
3   3키움  0.284627  0.003645  0.601
4   5NC  0.424907  0.004793  0.514
5   9한화  0.345811  0.029811  0.403
6   6KT  0.295309  0.032473  0.500
7   8삼성  0.251880  0.052270  0.420
8  7KIA  0.401455  0.084427  0.437
9  십위롯데  0.561731  0.171554  0.340

In [95]:
model = ols(formula = 'WinR ~ Eff', data = df_2).fit()
model.summary()

C:\Users\jaij2\anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   WinR   R-squared:                       0.105
Model:                            OLS   Adj. R-squared:                 -0.007
Method:                 Least Squares   F-statistic:                    0.9407
Date:                Wed, 23 Feb 2022   Prob (F-statistic):              0.360
Time:                        18:00:33   Log-Likelihood:                 10.209
No. Observations:                  10   AIC:                            -16.42
Df Residuals:                       8   BIC:                            -15.81
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.6030      0.111      5.438      0.001       0.347       0.859
Eff           -0.2386      0.246     -0.970      0.360      -0.806       0.329
==============================================================================
Omnibus:                        1.472   Durbin-Watson:                   0.147
Prob(Omnibus):                  0.479   Jarque-Bera (JB):                0.774
Skew:                           0.208   Prob(JB):                        0.679
Kurtosis:                       1.702   Cond. No.                         9.50
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [97]:
df_2

  Team      Var     Eff  Rank   WinR
0   두산  0.00020  0.5261     1  0.615
1   SK  0.00000  0.4706     2  0.615
2   키움  0.00360  0.2883     3  0.601
3   LG  0.00001  0.3886     4  0.552
4   NC  0.00480  0.4297     5  0.514
5   KT  0.03250  0.3278     6  0.500
6  KIA  0.08440  0.4859     7  0.437
7   삼성  0.05230  0.3042     8  0.420
8   한화  0.02980  0.3756     9  0.403
9   롯데  0.17160  0.7333    10  0.340

In [6]:
pearsonr(df_2['WinR'], df_2['hit'])

(0.02007024035367592, 0.9561140299817069)

In [7]:
pearsonr(df_2['WinR'], df_2['def'])

(-0.8217408841875226, 0.003541016264362149)

In [9]:
pearsonr(df_2['hit'], df_2['def'])

(0.327460503727176, 0.35567567110314013)

In [104]:
pearsonr(df_2['Rank'], df_2['Var'])

(0.7636819980765926, 0.010143484018678066)

In [105]:
pearsonr(df_2['Rank'], df_2['Eff'])

(0.20417309693172767, 0.5715287417077569)

In [102]:
pearsonr(df_2.iloc[:, 1:], df_2.iloc[:, 1:])

TypeError: No loop matching the specified signature and casting was found for ufunc add