In [41]:
import os
import pandas as pd

In [42]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터')
df_1 = pd.read_excel('2019_타자_KBR_Main.xlsx')
t_list = df_1['팀명']
df_1

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,강경학,한화,52,135,113,27,0,21,12,15,32,1,0.329,0.239,0.341,0.274,0.615,0.301,0.08
1,강로한,롯데,104,306,288,69,4,38,25,13,107,7,0.365,0.240,0.279,0.375,0.654,0.294,0.39
2,강민국,KT,58,94,88,24,0,12,7,6,17,2,0.338,0.273,0.319,0.295,0.614,0.291,0.15
3,강민호,삼성,112,393,346,81,13,36,45,33,76,0,0.262,0.234,0.315,0.405,0.720,0.321,1.96
4,강백호,KT,116,505,438,147,13,72,65,61,87,9,0.392,0.336,0.416,0.495,0.911,0.405,4.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,홍창기,LG,23,26,24,6,0,3,0,1,12,3,0.5,0.250,0.308,0.333,0.641,0.295,0.05
278,황대인,KIA,12,28,25,5,0,0,0,1,8,0,0.294,0.200,0.286,0.280,0.566,0.269,-0.11
279,황윤호,KIA,57,130,123,37,1,9,9,5,12,2,0.324,0.301,0.326,0.398,0.724,0.326,0.44
280,황재균,KT,124,507,448,127,20,78,67,52,71,10,0.296,0.283,0.358,0.467,0.825,0.366,3.67
281,황진수,롯데,6,4,3,0,0,1,0,1,2,0,0,0.000,0.250,0.000,0.250,0.190,-0.04

In [43]:
df_1.index = df_1['선수명'] + df_1['팀명']
del df_1['선수명']
df_1

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
강경학한화,한화,52,135,113,27,0,21,12,15,32,1,0.329,0.239,0.341,0.274,0.615,0.301,0.08
강로한롯데,롯데,104,306,288,69,4,38,25,13,107,7,0.365,0.240,0.279,0.375,0.654,0.294,0.39
강민국KT,KT,58,94,88,24,0,12,7,6,17,2,0.338,0.273,0.319,0.295,0.614,0.291,0.15
강민호삼성,삼성,112,393,346,81,13,36,45,33,76,0,0.262,0.234,0.315,0.405,0.720,0.321,1.96
강백호KT,KT,116,505,438,147,13,72,65,61,87,9,0.392,0.336,0.416,0.495,0.911,0.405,4.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
홍창기LG,LG,23,26,24,6,0,3,0,1,12,3,0.5,0.250,0.308,0.333,0.641,0.295,0.05
황대인KIA,KIA,12,28,25,5,0,0,0,1,8,0,0.294,0.200,0.286,0.280,0.566,0.269,-0.11
황윤호KIA,KIA,57,130,123,37,1,9,9,5,12,2,0.324,0.301,0.326,0.398,0.724,0.326,0.44
황재균KT,KT,124,507,448,127,20,78,67,52,71,10,0.296,0.283,0.358,0.467,0.825,0.366,3.67
황진수롯데,롯데,6,4,3,0,0,1,0,1,2,0,0,0.000,0.250,0.000,0.250,0.190,-0.04

In [44]:
df_11 = df_1.reset_index()
df_11

,index,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,강경학한화,한화,52,135,113,27,0,21,12,15,32,1,0.329,0.239,0.341,0.274,0.615,0.301,0.08
1,강로한롯데,롯데,104,306,288,69,4,38,25,13,107,7,0.365,0.240,0.279,0.375,0.654,0.294,0.39
2,강민국KT,KT,58,94,88,24,0,12,7,6,17,2,0.338,0.273,0.319,0.295,0.614,0.291,0.15
3,강민호삼성,삼성,112,393,346,81,13,36,45,33,76,0,0.262,0.234,0.315,0.405,0.720,0.321,1.96
4,강백호KT,KT,116,505,438,147,13,72,65,61,87,9,0.392,0.336,0.416,0.495,0.911,0.405,4.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,홍창기LG,LG,23,26,24,6,0,3,0,1,12,3,0.5,0.250,0.308,0.333,0.641,0.295,0.05
278,황대인KIA,KIA,12,28,25,5,0,0,0,1,8,0,0.294,0.200,0.286,0.280,0.566,0.269,-0.11
279,황윤호KIA,KIA,57,130,123,37,1,9,9,5,12,2,0.324,0.301,0.326,0.398,0.724,0.326,0.44
280,황재균KT,KT,124,507,448,127,20,78,67,52,71,10,0.296,0.283,0.358,0.467,0.825,0.366,3.67
281,황진수롯데,롯데,6,4,3,0,0,1,0,1,2,0,0,0.000,0.250,0.000,0.250,0.190,-0.04

In [45]:
df_12 = df_11.sort_values(by = ['index'], ascending = True)
df_12

,index,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,강경학한화,한화,52,135,113,27,0,21,12,15,32,1,0.329,0.239,0.341,0.274,0.615,0.301,0.08
1,강로한롯데,롯데,104,306,288,69,4,38,25,13,107,7,0.365,0.240,0.279,0.375,0.654,0.294,0.39
2,강민국KT,KT,58,94,88,24,0,12,7,6,17,2,0.338,0.273,0.319,0.295,0.614,0.291,0.15
3,강민호삼성,삼성,112,393,346,81,13,36,45,33,76,0,0.262,0.234,0.315,0.405,0.720,0.321,1.96
4,강백호KT,KT,116,505,438,147,13,72,65,61,87,9,0.392,0.336,0.416,0.495,0.911,0.405,4.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,홍창기LG,LG,23,26,24,6,0,3,0,1,12,3,0.5,0.250,0.308,0.333,0.641,0.295,0.05
278,황대인KIA,KIA,12,28,25,5,0,0,0,1,8,0,0.294,0.200,0.286,0.280,0.566,0.269,-0.11
279,황윤호KIA,KIA,57,130,123,37,1,9,9,5,12,2,0.324,0.301,0.326,0.398,0.724,0.326,0.44
280,황재균KT,KT,124,507,448,127,20,78,67,52,71,10,0.296,0.283,0.358,0.467,0.825,0.366,3.67
281,황진수롯데,롯데,6,4,3,0,0,1,0,1,2,0,0,0.000,0.250,0.000,0.250,0.190,-0.04

In [46]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율\전처리\220221')
df_2 = pd.read_csv('2019_전선수_수비기여도.csv', encoding = 'cp949')
df_2

      index       DC
0     강경학한화  147.829
1     강로한롯데  449.717
2     강민국KT  171.306
3     강민호삼성  832.738
4     강백호KT  127.421
..      ...      ...
277   홍창기LG   13.400
278  황대인KIA    1.200
279  황윤호KIA  177.799
280   황재균KT  602.866
281   황진수롯데    5.598

[282 rows x 2 columns]

In [47]:
# DC_list = []
# for a in range(0, len(df_11)) :
#     for b in range(0, len(df_2)) :
#         if df_11.iloc[a, 0] == df_2.iloc[b, 0] :
#             DC_list.append(df_2.iloc[b, 1])

In [48]:
df_21 = df_2.sort_values(by = ['index'])
df_21

      index       DC
0     강경학한화  147.829
1     강로한롯데  449.717
2     강민국KT  171.306
3     강민호삼성  832.738
4     강백호KT  127.421
..      ...      ...
277   홍창기LG   13.400
278  황대인KIA    1.200
279  황윤호KIA  177.799
280   황재균KT  602.866
281   황진수롯데    5.598

[282 rows x 2 columns]

In [49]:
df_12['DC'] = df_21['DC']
df_12

,index,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,DC
0,강경학한화,한화,52,135,113,27,0,21,12,15,32,1,0.329,0.239,0.341,0.274,0.615,0.301,0.08,147.829
1,강로한롯데,롯데,104,306,288,69,4,38,25,13,107,7,0.365,0.240,0.279,0.375,0.654,0.294,0.39,449.717
2,강민국KT,KT,58,94,88,24,0,12,7,6,17,2,0.338,0.273,0.319,0.295,0.614,0.291,0.15,171.306
3,강민호삼성,삼성,112,393,346,81,13,36,45,33,76,0,0.262,0.234,0.315,0.405,0.720,0.321,1.96,832.738
4,강백호KT,KT,116,505,438,147,13,72,65,61,87,9,0.392,0.336,0.416,0.495,0.911,0.405,4.60,127.421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,홍창기LG,LG,23,26,24,6,0,3,0,1,12,3,0.5,0.250,0.308,0.333,0.641,0.295,0.05,13.400
278,황대인KIA,KIA,12,28,25,5,0,0,0,1,8,0,0.294,0.200,0.286,0.280,0.566,0.269,-0.11,1.200
279,황윤호KIA,KIA,57,130,123,37,1,9,9,5,12,2,0.324,0.301,0.326,0.398,0.724,0.326,0.44,177.799
280,황재균KT,KT,124,507,448,127,20,78,67,52,71,10,0.296,0.283,0.358,0.467,0.825,0.366,3.67,602.866
281,황진수롯데,롯데,6,4,3,0,0,1,0,1,2,0,0,0.000,0.250,0.000,0.250,0.190,-0.04,5.598

In [50]:
df_13 = df_12[['index', '타석', '안타', '홈런', '득점', '타점', '도루', 'OPS', 'WAR', 'DC', '팀명']]
df_13

      index   타석   안타  홈런  득점  타점  도루    OPS   WAR       DC   팀명
0     강경학한화  135   27   0  21  12   1  0.615  0.08  147.829   한화
1     강로한롯데  306   69   4  38  25   7  0.654  0.39  449.717   롯데
2     강민국KT   94   24   0  12   7   2  0.614  0.15  171.306   KT
3     강민호삼성  393   81  13  36  45   0  0.720  1.96  832.738   삼성
4     강백호KT  505  147  13  72  65   9  0.911  4.60  127.421   KT
..      ...  ...  ...  ..  ..  ..  ..    ...   ...      ...  ...
277   홍창기LG   26    6   0   3   0   3  0.641  0.05   13.400   LG
278  황대인KIA   28    5   0   0   0   0  0.566 -0.11    1.200  KIA
279  황윤호KIA  130   37   1   9   9   2  0.724  0.44  177.799  KIA
280   황재균KT  507  127  20  78  67  10  0.825  3.67  602.866   KT
281   황진수롯데    4    0   0   1   0   0  0.250 -0.04    5.598   롯데

[282 rows x 11 columns]

In [35]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
df_3 = pd.read_csv('2019_타자_DEA_OPS.csv', encoding = 'cp949')
df_3

,Name,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Team,OBP,SLG,OPS
0,백창수,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,...,7.0,1.000000,6.0,1.0,외,6000,HH,0.260870,0.295455,0.556324
1,김창혁,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,포,3000,HH,0.000000,0.000000,0.000000
2,김응민,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,...,1.0,0.000000,3.0,0.0,포,2900,SS,0.230769,0.307692,0.538462
3,이해창,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,7.0,1.000000,13.0,1.0,포,6100,KT,0.186047,0.125000,0.311047
4,정훈,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,...,43.0,7.500000,51.0,9.0,외,8000,LT,0.324201,0.289474,0.613675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,이지영,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,...,54.0,20.333333,91.0,28.0,포,21000,WO,0.316923,0.314935,0.631858
287,배영섭,80.0,71.0,7.0,5.0,16.0,1.0,0.0,0.0,2.0,...,15.0,4.000000,13.0,5.0,외,12000,SK,0.300000,0.239437,0.539437
288,양종민,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,...,7.0,1.000000,12.0,1.0,내,3000,LG,0.170213,0.181818,0.352031
289,안치홍,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,...,98.0,17.750000,124.0,29.0,내,50000,HT,0.379902,0.411602,0.791504
290,김회성,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,...,23.0,8.000000,33.0,10.0,내,6500,HH,0.301724,0.355769,0.657493

In [51]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\양창규 박사님')
df_13.to_csv('2019_타자_타격7+WAR+DC.csv', encoding = 'cp949')