In [32]:
import os
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split

In [18]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율')
df_11 = pd.read_csv('2019_타자_팀별.csv')
df_11 = df_11[['팀명', 'AVG', 'R', 'H', 'HR', 'RBI']]
df_11.index = df_11['팀명']
del df_11['팀명']
df_11

       AVG    R     H   HR  RBI
팀명
키움   0.282  780  1405  112  741
NC   0.278  674  1383  128  639
두산   0.278  736  1364   84  691
KT   0.277  650  1375  103  615
LG   0.267  641  1316   94  604
KIA  0.264  605  1286   76  567
SK   0.262  655  1290  117  622
한화   0.256  607  1250   88  562
삼성   0.256  622  1245  122  598
롯데   0.250  578  1231   90  545

In [20]:
df_21 = pd.read_csv('2019_팀별지표들.csv', encoding = 'cp949')
df_22 = df_21[['Unnamed: 0', 'SB', 'OPS', 'FPCT', '도루허용']]
df_22.index = df_22['Unnamed: 0']
del df_22['Unnamed: 0']
df_22

             SB       OPS   FPCT  도루허용
Unnamed: 0
두산          101  0.726564  0.985    96
KT           99  0.710271  0.981    90
키움          107  0.759391  0.982    92
KIA          79  0.702169  0.979   116
NC           86  0.766655  0.982    64
LG          105  0.711595  0.983   115
삼성          114  0.696461  0.980    90
한화           81  0.677339  0.980   104
롯데           57  0.678911  0.979    91
SK           90  0.709628  0.984   105

In [27]:
df_31 = pd.read_csv('2019_투수_팀별.csv')
df_32 = df_31[['팀명', 'SV', 'HLD', 'SO', 'WHIP', 'WPCT']]
df_32.index = df_32['팀명']
del df_32['팀명']
df_32

     SV  HLD    SO  WHIP   WPCT
팀명
SK   51   92  1092  1.30  0.615
두산   44   69   860  1.28  0.615
키움   39   91   984  1.30  0.601
LG   43   62   953  1.37  0.552
NC   32   68   991  1.38  0.514
KT   37   59   848  1.40  0.500
삼성   29   60   924  1.45  0.420
KIA  30   64   976  1.48  0.437
한화   28   43   934  1.52  0.403
롯데   16   47  1033  1.54  0.340

In [28]:
df_fin = pd.DataFrame(df_11)
df_fin['SB'] = df_22['SB']
df_fin['OPS'] = df_22['OPS']
df_fin['FPCT'] = df_22['FPCT']
df_fin['도루허용'] = df_22['도루허용']
df_fin['SV'] = df_32['SV']
df_fin['HLD'] = df_32['HLD']
df_fin['SO'] = df_32['SO']
df_fin['WHIP'] = df_32['WHIP']
df_fin['WPCT'] = df_32['WPCT']
df_fin

,AVG,R,H,HR,RBI,SB,OPS,FPCT,도루허용,SV,HLD,SO,WHIP,WPCT
팀명,,,,,,,,,,,,,,
키움,0.282,780,1405,112,741,107,0.759391,0.982,92,39,91,984,1.30,0.601
NC,0.278,674,1383,128,639,86,0.766655,0.982,64,32,68,991,1.38,0.514
두산,0.278,736,1364,84,691,101,0.726564,0.985,96,44,69,860,1.28,0.615
KT,0.277,650,1375,103,615,99,0.710271,0.981,90,37,59,848,1.40,0.500
LG,0.267,641,1316,94,604,105,0.711595,0.983,115,43,62,953,1.37,0.552
KIA,0.264,605,1286,76,567,79,0.702169,0.979,116,30,64,976,1.48,0.437
SK,0.262,655,1290,117,622,90,0.709628,0.984,105,51,92,1092,1.30,0.615
한화,0.256,607,1250,88,562,81,0.677339,0.980,104,28,43,934,1.52,0.403
삼성,0.256,622,1245,122,598,114,0.696461,0.980,90,29,60,924,1.45,0.420
롯데,0.250,578,1231,90,545,57,0.678911,0.979,91,16,47,1033,1.54,0.340

In [43]:
x = df_fin.drop(['WPCT'], axis = 1)
y = df_fin['WPCT']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

LR = LinearRegression()
LR.fit(x_train, y_train)

y_prediction = LR.predict(x_test)
print(y_prediction)
print('r2score = ', r2_score(y_test, y_prediction))
print('mse = ', mean_squared_error(y_test, y_prediction))
print('rmse = ', np.sqrt(mean_squared_error(y_test, y_prediction)))

r2 = r2_score(y_test, y_prediction)
n = len(x)   ## 관측값의 개수
k = len(x.columns)   ## 독립변수의 개수
ar2 = 1 - ((1 - r2) * (n - 1) / (n - k - 1))
print('adjustedr2 = ', ar2)

[0.34012114 0.42389107 0.54473957]
r2score =  -4.2028831290557696
mse =  0.008702689180533955
rmse =  0.09328820493789103
adjustedr2 =  12.706487040375482