In [2]:
import os
import pandas as pd
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression

In [8]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
df_1 = pd.read_csv('2019_144타석이상_타격지표(6개)_kWAR_19연봉, 신인제외.csv', encoding = 'cp949')
df_1 = df_1[df_1['Unnamed: 0'] != '이우성']
df_1 = df_1.reset_index(drop = True)
df_1.index = df_1['Unnamed: 0']
del df_1['Unnamed: 0']
df_1

              RBI    RUN    HIT    HR    SB      OPS  Money_19  kWAR_score
Unnamed: 0
이정후          68.0   91.0  193.0   6.0  13.0  0.84241   23000.0     290.201
김하성         104.0  112.0  166.0  19.0  33.0  0.88016   32000.0     785.830
정은원          57.0   83.0  148.0   8.0  14.0  0.69127    5500.0     702.721
이천웅          48.0   88.0  168.0   2.0  21.0  0.75129   15000.0     420.339
최정           99.0   86.0  147.0  29.0   3.0  0.91823  120000.0     661.361
...           ...    ...    ...   ...   ...      ...       ...         ...
지석훈          15.0   15.0   34.0   2.0   0.0  0.62826   15000.0     250.270
허일           17.0   14.0   38.0   1.0   2.0  0.61683    3000.0      46.765
김찬형          12.0   16.0   39.0   1.0   3.0  0.67698    4300.0     286.502
나지완          17.0   12.0   24.0   6.0   0.0  0.66499   60000.0      15.600
최항           14.0   12.0   29.0   0.0   2.0  0.58963   11000.0     164.640

[103 rows x 8 columns]

In [7]:
df_1.to_csv('2019_144이상_타격지표(6)_kWAR_19연봉_WAR_신인제외.csv', encoding = 'cp949')

In [8]:
df_2 = pd.read_csv('2019_144이상_타격지표(6)_kWAR_19연봉_WAR_신인제외.csv', encoding = 'cp949')
df_2

    Unnamed: 0  RBI  RUN  HIT  HR    SB      OPS  Money_19  kWAR_score   WAR
0          양의지   68   61  138  20   4.0  1.01227  200000.0     721.160  7.02
1          김하성  104  112  166  19  33.0  0.88016   32000.0     785.830  6.77
2           최정   99   86  147  29   3.0  0.91823  120000.0     661.361  6.63
3          박병호   98   92  121  33   0.0  0.95868  150000.0       0.000  5.14
4          이정후   68   91  193   6  13.0  0.84241   23000.0     290.201  4.81
..         ...  ...  ...  ...  ..   ...      ...       ...         ...   ...
98         윤석민   17    4   39   2   0.0  0.54837   24000.0      69.633 -0.92
99         김동엽   25   15   42   6   2.0  0.60386   18500.0      25.232 -0.93
100        오윤석   21   21   44   1   0.0  0.54212    3000.0     112.623 -0.94
101        최원준   18   33   46   1   8.0  0.54535   10000.0     224.517 -0.95
102        나종덕   13   12   23   3   0.0  0.38271    4300.0     551.103 -1.61

[103 rows x 10 columns]

In [10]:
model = ols(formula = 'Money_19 ~ WAR', data = df_2).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Money_19   R-squared:                       0.207
Model:                            OLS   Adj. R-squared:                  0.200
Method:                 Least Squares   F-statistic:                     26.43
Date:                Mon, 24 Jan 2022   Prob (F-statistic):           1.34e-06
Time:                        16:14:09   Log-Likelihood:                -1237.7
No. Observations:                 103   AIC:                             2479.
Df Residuals:                     101   BIC:                             2485.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1.801e+04   5292.039      3.403      0.001    7511.761    2.85e+04
WAR         1.154e+04   2245.097      5.141      0.000    7089.457     1.6e+04
==============================================================================
Omnibus:                       64.521   Durbin-Watson:                   1.807
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              288.160
Skew:                           2.126   Prob(JB):                     2.67e-63
Kurtosis:                      10.004   Cond. No.                         3.40
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [34]:
x = df_2['WAR']
y = df_2['Money_19']

LR = LinearRegression()
LR.fit(x, y)
LR.summary()

ValueError: Expected 2D array, got 1D array instead:
array=[ 7.02  6.77  6.63  5.14  4.81  4.71  4.6   4.49  4.47  3.84  3.76  3.67
  3.62  3.45  3.45  3.41  3.36  3.22  3.2   3.    2.99  2.87  2.86  2.77
  2.74  2.63  2.53  2.36  2.35  2.33  2.3   2.3   2.25  2.2   2.12  2.1
  2.01  1.98  1.96  1.96  1.84  1.72  1.72  1.72  1.71  1.68  1.65  1.6
  1.56  1.51  1.47  1.41  1.31  1.21  1.18  1.13  1.03  1.02  1.01  0.74
  0.64  0.56  0.54  0.54  0.47  0.44  0.4   0.39  0.36  0.35  0.33  0.33
  0.32  0.28  0.26  0.26  0.25  0.24  0.16  0.1   0.06  0.04  0.02  0.
 -0.01 -0.03 -0.12 -0.13 -0.16 -0.2  -0.26 -0.29 -0.37 -0.48 -0.53 -0.55
 -0.68 -0.76 -0.92 -0.93 -0.94 -0.95 -1.61].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [39]:
df_3 = pd.read_csv('2019_타자_saber.csv', encoding = 'cp949')
df_3 = df_3[df_3['PA'] >= 144]
df_3

,Name,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,BABIP,OW%
0,이정후,630,574,68,91,193,31,10,6,13,...,0.29094,0.80397,95.03027,3.51964,92.560,0.12021,8.21053,0.53310,0.35150,0.96536
1,김하성,625,540,104,112,166,38,2,19,33,...,0.47593,0.96154,96.32271,3.56751,104.670,0.18333,24.11538,0.62520,0.32813,0.96626
2,정은원,624,564,57,83,148,27,6,8,14,...,0.28191,0.63636,58.53332,2.16790,69.292,0.11170,10.18182,0.53814,0.30369,0.91360
3,이천웅,613,546,48,88,168,24,3,2,21,...,0.24359,0.71571,71.92514,2.66389,75.394,0.06593,3.65217,0.53459,0.35853,0.94106
4,최정,606,503,99,86,147,27,0,29,3,...,0.47714,0.99171,95.73611,3.54578,107.064,0.22664,5.43750,0.67752,0.30256,0.96586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,이우성,168,151,22,19,33,4,0,6,0,...,0.29139,0.57025,11.04339,0.40901,16.510,0.14570,0.00000,1.64929,0.25234,0.27347
102,허일,162,149,17,14,38,4,0,1,2,...,0.16779,0.53097,12.49533,0.46279,14.696,0.04698,1.33333,1.62984,0.30833,0.32518
103,김찬형,154,141,12,16,39,4,2,1,3,...,0.16312,0.58879,14.18193,0.52526,15.792,0.07801,1.50000,1.72412,0.31667,0.38300
104,나지완,153,129,17,12,24,5,0,6,0,...,0.41085,0.63889,10.27258,0.38047,16.014,0.17829,0.00000,1.85243,0.20455,0.24568
105,최항,147,127,14,12,29,5,0,0,2,...,0.22047,0.53465,9.87557,0.36576,12.368,0.03937,0.00000,1.82644,0.27885,0.23136

In [10]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율\전처리')
df_11 = pd.read_csv('2019_전포지션_수비점수_March_kWAR_AHP.csv', encoding = 'cp949')
df_11.index = df_11['선수명']
del df_11['선수명']
df_11

          IP     E  March_score  kWAR_score  AHP_score
선수명
강경학   273.00   4.0     1468.641     147.829     39.993
강로한   709.67  20.0     3910.467     449.717    105.735
강민국   245.67   9.0     1487.254     171.306     44.404
강민호   842.00   8.0     6661.904     832.738    308.113
강백호   622.66   3.0     1549.272     127.421     23.109
..       ...   ...          ...         ...        ...
홍창기    52.00   0.0      136.500      13.400      2.337
황대인    48.00   0.0      100.000       1.200      1.260
황윤호   297.67   6.0     1534.647     177.799     38.623
황재균  1026.67  11.0     4123.564     602.866    127.589
황진수    10.33   0.0       37.320       5.598      1.157

[281 rows x 5 columns]

In [11]:
df_11

          IP     E  March_score  kWAR_score  AHP_score
선수명
강경학   273.00   4.0     1468.641     147.829     39.993
강로한   709.67  20.0     3910.467     449.717    105.735
강민국   245.67   9.0     1487.254     171.306     44.404
강민호   842.00   8.0     6661.904     832.738    308.113
강백호   622.66   3.0     1549.272     127.421     23.109
..       ...   ...          ...         ...        ...
홍창기    52.00   0.0      136.500      13.400      2.337
황대인    48.00   0.0      100.000       1.200      1.260
황윤호   297.67   6.0     1534.647     177.799     38.623
황재균  1026.67  11.0     4123.564     602.866    127.589
황진수    10.33   0.0       37.320       5.598      1.157

[281 rows x 5 columns]

In [24]:
df_1['Error'] = df_11['E']
df_1

,RBI,RUN,HIT,HR,SB,OPS,Money_19,kWAR_score,Error
Unnamed: 0,,,,,,,,,
이정후,68.0,91.0,193.0,6.0,13.0,0.84241,23000.0,290.201,2.0
김하성,104.0,112.0,166.0,19.0,33.0,0.88016,32000.0,785.830,20.0
정은원,57.0,83.0,148.0,8.0,14.0,0.69127,5500.0,702.721,13.0
이천웅,48.0,88.0,168.0,2.0,21.0,0.75129,15000.0,420.339,1.0
최정,99.0,86.0,147.0,29.0,3.0,0.91823,120000.0,661.361,14.0
...,...,...,...,...,...,...,...,...,...
지석훈,15.0,15.0,34.0,2.0,0.0,0.62826,15000.0,250.270,5.0
허일,17.0,14.0,38.0,1.0,2.0,0.61683,3000.0,46.765,1.0
김찬형,12.0,16.0,39.0,1.0,3.0,0.67698,4300.0,286.502,3.0
나지완,17.0,12.0,24.0,6.0,0.0,0.66499,60000.0,15.600,0.0
최항,14.0,12.0,29.0,0.0,2.0,0.58963,11000.0,164.640,3.0

In [16]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율\전처리\211117')
df_1.to_csv('2019_DEA_에러포함.csv', encoding = 'cp949')

In [28]:
df_1['Error'] = [abs((df_1['Error'][a] - max(df_1['Error'])) / (max(df_1['Error']) - min(df_1['Error']))) for a in range(0, len(df_1['Error']))]
df_1

,RBI,RUN,HIT,HR,SB,OPS,Money_19,kWAR_score,Error
Unnamed: 0,,,,,,,,,
이정후,68.0,91.0,193.0,6.0,13.0,0.84241,23000.0,290.201,0.923077
김하성,104.0,112.0,166.0,19.0,33.0,0.88016,32000.0,785.830,0.230769
정은원,57.0,83.0,148.0,8.0,14.0,0.69127,5500.0,702.721,0.500000
이천웅,48.0,88.0,168.0,2.0,21.0,0.75129,15000.0,420.339,0.961538
최정,99.0,86.0,147.0,29.0,3.0,0.91823,120000.0,661.361,0.461538
...,...,...,...,...,...,...,...,...,...
지석훈,15.0,15.0,34.0,2.0,0.0,0.62826,15000.0,250.270,0.807692
허일,17.0,14.0,38.0,1.0,2.0,0.61683,3000.0,46.765,0.961538
김찬형,12.0,16.0,39.0,1.0,3.0,0.67698,4300.0,286.502,0.884615
나지완,17.0,12.0,24.0,6.0,0.0,0.66499,60000.0,15.600,1.000000
최항,14.0,12.0,29.0,0.0,2.0,0.58963,11000.0,164.640,0.884615

In [29]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율\전처리\211117')
df_1.to_csv('2019_DEA_에러포함_척도동등화.csv', encoding = 'cp949')